
/* DEMOGRAPHIC FORM */

.formContainer {
  width: 60%;
  min-width: 1000px;
  margin: 0 auto;
  padding: 0 3%;
  border: 1px solid red;
}

.heading{
  padding: 10px;
  border: 1px outset lightgrey;
}

.form_container {
  border-radius: 5px;
  padding: 20px;
  font-size: 14pt;
  margin: 5px;
  border: 1px solid green;
  /*border: 1px groove lightgrey;*/

  background: rgb(238,238,238); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(226,226,226,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(226,226,226,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(226,226,226,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */  
}


input[type=text], select, textarea {
  padding: 12px 20px;
  display: block;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 10px;

}

label {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 32px;
  float: left;
  padding: 0 1em;
  text-align: center;
}

legend {
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 0;
  border: 0;
  font-size: 14px;
  font-weight:  bold;
}

fieldset {
  margin: 10px 0;
  /*display: block;*/
}

input:checked {
  border: 6px solid black;
}

.demo_button {
  width: 75%;
  margin: 10px auto;
  display: block;
  color: white;

  background: #006e2e; /* Old browsers */
  background: -moz-linear-gradient(top, #006e2e 0%, #006e2e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #006e2e 0%,#006e2e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #006e2e 0%,#006e2e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006e2e', endColorstr='#006e2e',GradientType=0 ); /* IE6-9 */  
  
}

#submit_data:hover{
  background: #6bba70; /* Old browsers */
  background: -moz-linear-gradient(top, #6bba70 0%, #6bba70 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #6bba70 0%,#6bba70 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #6bba70 0%,#6bba70 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bba70', endColorstr='#6bba70',GradientType=0 ); /* IE6-9 */
}
