html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial;
  font-size: 16pt;
  padding: 0;
  margin: 0;
  background: rgba(255,255,255,1);
  background: rgba(255,255,255,1);
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(245,245,245,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=1 );
  /*overflow: hidden;*/
}

body h1, body h2, body h3, body p {
  margin: 0;
  padding: 0;
}

/*for using small text*/
.small{
  font-size: 10pt;
}

/* .container represents all visible area */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: lightgrey;
  margin: 0;
}

/* .screen represents the 800 x 600 experiment area */
.screen {
  height: 600px;
  width: 800px;
  /*margin: 0 auto;*/
  box-sizing: border-box;
  position: relative;
}

/* OPENING TITLE SLIDE */

/* div containing welcome title */
.titleBar {
  height: 100px;
  width: 100%;
}

/* a container div floating left with width of 2/3 */
.leftTwoThirds {
  float: left;
  width: 66.66667%;
  height: 700px;
  padding: 20px;
}

.rightOneThirdsDown {
  width: 33.3333%;
  height: 30%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}

#tutorial {
  margin-top: 20px;
}

/*KEY REMIND SLIDES*/
/*repurposing some of the styles above for this*/

/*STIM SLIDES*/
.stimSlide {
  width: 75%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  flex-direction: column;
  position: relative;
}

.errorContainer {
  position: absolute;
  top: 200px;
}

.keyContainer {
 position: absolute;
 top: 100px; 
}

.stimContainer {
  align-self: center;
}

.stimContainer p {
  font-size: 24pt;
  font-family: Courier New;
  font-weight: 900;
}

/*BUTTON STYLES*/
.experimentButton {
  font-size: 18pt;
  cursor: pointer;
  width: 175px;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  display: inline-block;
  border: 2px outset lightgrey;
  text-decoration: none;
  color: #262626;
  background: rgba(242,242,242,1);
  background: -moz-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,242,242,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to right, rgba(242,242,242,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ededed', GradientType=1 );
}

.experimentButton:hover {
  color: #808080;
}

.smallButton {
  font-size: 12pt;
}

.center {
  margin: 10px auto;
  /*border: 1px solid green;*/
  display: block;
}

.textInstructionsContainer {
  height: 450px;
  overflow: scroll;
}

.textInstructionsButtons {
  display: block;
  /*float: right;*/
}
