.interCycleSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.deckAttribute {
  border: 2px ridge grey;
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content:  center;
  align-items: center;
  height: 50px;
}

.deckAttribute p {
  justify-content: center;
  align-content: center;
  felx-direction: column;
}

.selectedAttribute {
  background-color: yellow;
}

.deSelectedAttribute {
  background-color: white;
}


/* deck styles */



.feedbackContainer {
  width: 100%;
  height: 150px;
  padding: 0 20px 0px 20px;
  margin: 0;
  /*border: 0px solid red;*/
}

.feedbackContainer p {
  font-size: 15pt;
}

.feedbackLevelOne, .feedbackLevelTwo {
  width: 100%;
  overflow: auto;
  height: 75px;
  display: flex;
  align-items: center;
  /*margin: 10px 0;*/
}


.keyFormat {
  width: 50%;
  margin: 0 auto;
}

.bonusFeedback {
  float: left;
}

.progressFeedback {
  float: right;
  margin: 0;
  padding: 0;
  margin-left: auto;
  /*line-height: 0;
  height: 20px;*/
}

.topHalf {
  width: 100%;
  height: 216px;
  margin: 6px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}

.card {
  height: 216px;
  width: 144px;
  /*margin-left: 92px;*/
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.cardFeedback {
  position: absolute;
  top: 20px;
}

.cardFeedback p {
  color: black;
}

.cardStim p {
  font-family: 'Courier New';
  font-size: 25pt;
  font-weight: 600;
}

.cardHidden p {
  color: lightgrey;
}

.cardShow {
  background-color: white;
  border: 1px solid black;
}

.cardHidden {
  background-color: lightgrey;

}

.bottomHalf {
  width: 100%;
  height: 216px;
  margin-bottom: 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}



/* styles for exp2 and 3 */

.deckOutline {
  height: 216px;
  width: 288px;
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  display: inline-block;
  box-shadow: 3px 3px;
  text-align: center;
}

.deckAttributeContext {
  position: relative;
  top: 0;
  height: 32px;
}

.deckAttributeContainer {
  height: 184px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid red;
}

.deckAttributeSeparator p {
  font-size: 12pt;
  font-weight: bold;
}