.interCycleSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.deckAttribute {
  border: 0px;
  font-size: 15pt;
}

.selectedAttribute {
  border: 1px solid black;
  margin: 0 10px;
}

.deSelectedAttribute {
  border: 0px;
}
